02-experimental_tracking/mlruns/
02-experimental_tracking/model_newest/
02-experimental_tracking/models/
02-experimental_tracking/__pycache__
mlruns/
models/
mlflow.db
02-experimental_tracking/mlflow_gcp/.terraform
02-experimental_tracking/mlflow_gcp/.terraform.lock.hcl
02-experimental_tracking/mlflow_gcp/terraform.tfstate.backup
02-experimental_tracking/mlflow_gcp/terraform.tfstate
/02-experimental_tracking/mlartifacts
04-deployment/batch/output


# .gitignore
*.h5
*.pt
*.tfstate
*.tfstate.backup
*.pkl
*.hcl
*.csv
*.zip
*.tar.gz
*.pytest_cache
data/
__pycache__/
05-monitoring/.env
04-deployment/batch/score_deploy.py
05-monitoring/mlflow_evidently/logs
04-deployment/streaming/.terraform
