02-experimental_tracking/mlruns/
02-experimental_tracking/model_newest/
02-experimental_tracking/models/
mlruns/
models/
mlflow.db
02-experimental_tracking/mlflow_gcp/.terraform
02-experimental_tracking/mlflow_gcp/.terraform.lock.hcl
02-experimental_tracking/mlflow_gcp/terraform.tfstate.backup
02-experimental_tracking/mlflow_gcp/terraform.tfstate
/02-experimental_tracking/mlartifacts
04-deployment/batch/output


# .gitignore
*.h5
*.pt
*.pkl
*.csv
*.zip
*.tar.gz
data/
__pycache__/